* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

.name {
    margin-top: 4rem;
    line-height: 100px;
    text-align: center;
}

.occupation {
    text-align: center;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    font-family: sans-serif, monospace;
    font-size: 28px;
}

/* Animation */
.name {
    animation: animated-text 3s steps(30, end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 472px;
    }
}

.occupation {
    white-space: nowrap;
    overflow: hidden;
    font-family: sans-serif, monospace;
    font-size: 28px;
}

/* Animation */
.occupation {
    animation: animated-text 2s steps(44, end) 2.5s 1 normal both;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 620px;
    }
}
